services:
  mysql:
    image: mysql:8.0
    container_name: zabbix-db
    restart: always
    ports:
      - "3306:3306"

  zabbix-server:
    image: zabbix/zabbix-server-mysql:latest
    container_name: zabbix-server
    ports:
      - "10051:10051"
    environment : 
      - MYSQL_USER = ${MYSQL_USER} 
      - MYSQL_PASSWORD =${MYSQL_PASSWORD} 
      - MYSQL_ROOT_PASSWORD =${MYSQL_ROOT_PASSWORD} 
      - MYSQL_DATABASE =${MYSQL_DATABASE}
    depends_on:
      - mysql
    restart: always

  zabbix-web:
    image: zabbix/zabbix-web-nginx-mysql:latest
    container_name: zabbix-web
    env_file:
      - .env
    environment:
      DB_SERVER_HOST: mysql
      DB_SERVER_TYPE: mysql
      DB_SERVER_PORT: 3306
      DB_SERVER_DBNAME: ${MYSQL_DATABASE}
      DB_SERVER_USER: ${MYSQL_USER}
      DB_SERVER_PASSWORD: ${MYSQL_PASSWORD}
      ZBX_SERVER_HOST: zabbix-server
      ZBX_SERVER_PORT: 10051
      ZBX_SERVER_NAME: Zabbix Server
      PHP_TZ: ${ZBX_PHP_TZ}
    depends_on:
      - mysql
      - zabbix-server
    ports:
      - "80:8080"
